.barContainer {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: black;
  }
  .counterContainer{
    height: 75%;
    width: 20%;
    background-color: black;
  }
  .displayText {
    color: rgb(218, 78, 14);
    font-size: larger;
    text-align: center;
  }
  
  .imageContainer {
    object-fit:contain;
    
  }
  
  .image {
    height: auto;
    width: auto;
    justify-content: space-between;
  }