.barContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    position: fixed;
    background-color: transparent;

  }
  .counterContainer{
    height: 75%;
    width: 100%;
    background-color: black;
  }
  .displayText {
    color: rgb(218, 78, 14);
    font-size: larger;
    text-align: center;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    object-fit:contain;
    width:100%;
    background-color: black;
    
  }
  
  .image {
    height: 266px;
    width: auto;
    justify-content: space-between;
  }