.container {
    padding: 5px;
    width: auto;
    height: auto;
    background-color: black;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.displayNum{
    color:white;
    
}

.plusMinusBtn{
    width: auto;
    height: auto;
    background-color: gray;
    font-size: large;
    border-radius: 20%;
}