.appContainer {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  border: 1px solid black;
  background-color: black;
}
.displayText {
  color: rgb(211, 85, 27);
}

.imageContainer {
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.image {
  height: auto;
  width: auto;
  justify-content: space-between;
}
